@import "./Variable.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 0 35px;
  background-color: 2px solid $lighWhite;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .logo {
    span {
      font-family: $Noto;
      font-size: 16px;
      font-weight: 700;
      line-height: 23.17px;
      text-align: left;
      color: #363940;
    }
  }
  .search {
    & > input {
      width: 330px;
      padding: 3px 20px;
      border: 1px solid $lightGray;
      border-radius: 5px;
      min-height: 30px;
      &:focus {
        border-color: transparent;
      }
    }
  }
  .nav-links {
    a {
      font-family: $Noto;
      font-size: 16px;
      font-weight: 700;
      line-height: 23.17px;
      text-align: left;
      color: $lightGray;
    }
  }
  .Login {
    margin-top: 5px;
    padding: 8px;
    background-color: $green;
    font-family: $Noto;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.17px;
    text-align: left;
    border-radius: 5px;
    color: $white !important;
    height: 30px;
    max-width: 70px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

// slider

.slider {
  margin: 0 auto;
  .px-12 {
    padding: 0 7rem !important;
  }

  .slick-next {
    right: 80px !important;
    z-index: 9999;

    &:before {
      font-size: 35px !important;
      background-color: transparent !important;
      color: $white !important;
      background-color: black;
    }
  }
  .slick-prev {
    left: 80px !important;
    z-index: 9999;

    &:before {
      font-size: 35px !important;
      background-color: transparent !important;
      color: $white !important;
      background-color: black;
    }
  }
  .slick-dots {
    bottom: 16px !important;
    // color: red  !important;

    button {
      &:before {
        content: "";
        height: 8px !important;
        width: 8px !important;
        background-color: $sliderClor !important;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: background-color 0.3s ease, width 0.3s ease,
          height 0.3s ease;
      }
    }

    & > .slick-active {
      button:before {
        background-color: $green !important;
        width: 24px !important;
        height: 8px !important;
        position: absolute;
        color: transparent !important;
        border-radius: 12px;
        transition: background-color 0.3s ease, width 0.3s ease,
          height 0.3s ease;
      }
    }

    button {
      &:not(.slick-active):before {
        transition: background-color 0.3s ease;
      }
    }
  }
}

.card-container {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
  width: 100%;

  .small-card {
    margin: 0 auto;
    border: 2px solid $smallcard;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;
  }

  h3 {
    padding-top: 10px;
    font-family: $Noto;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.38px;
    text-align: center;
    color: #000000;
  }
}

// cateory

.category-section {
  .category-heading {
    h3 {
      font-family: $Noto;
      font-size: 22px;
      font-weight: 700;
      line-height: 31.86px;
      text-align: left;
      color: $green;
    }
  }
  .category-btn {
    a {
      width: 39px;
      height: 20px;
      box-shadow: 0 1px 4px 0 #00000033;
      width: 75px;
      height: 30px;
      padding: 0px 8px;
      font-family: $Noto;
      font-size: 14px;
      font-weight: 400;
      line-height: 20.28px;
      text-align: center;
      color: #000000;
    }
  }
}
.category-card-section {
  // & > img {
  // width: 291px;
  //   // width: 291px;

  //   height: 163px;
  //   border-radius: 10px;
  //   margin: 0 auto;
  // }
  h3 {
    font-family: $Noto Sans KR;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.27px;
    text-align: left;
    color: #000000;
  }
  h4 {
    font-family: $Noto;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.17px;
    text-align: left;
    color: #000000;
  }
  h5 {
    font-family: $Noto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.27px;
    text-align: left;
    color: $lightGray;
  }
}

// slider
.slider {
  height: 425px !important;
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-0%);
    width: 40px;
    height: 40px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    z-index: 1000;
    transition: 0.3s ease;
  }
  .slick-prev {
    left: 25px !important;
    background-image: url("../assets/images/Right.svg");
    &::before {
      font-family: Arial, Helvetica, sans-serif !important;
      content: " " !important;
    }
  }

  // Styling for Next Arrow
  .slick-next {
    right: 30px !important;
    background-image: url("../assets/images/Left.svg");
    &::before {
      content: " " !important;
      font-family: Arial, Helvetica, sans-serif !important;
    }
  }
}

// event banner

.event-banner {
  background-color: $smallcard;
  height: 168px;
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  h3 {
    font-family: $Noto;
    font-size: 29px;
    font-weight: 700;
    line-height: 41.99px;
    text-align: left;
    white-space: nowrap;
    color: #000000;
  }
}

.slider-2 {
  padding: 20px 140px;
  min-height: 420px;
  background-color: #343434;

  .slick-initialized {
    max-width: 1225px;
    margin: 0 auto;
  }

  .slider-2-heading {
    padding-top: 32px;
    max-width: 1225px;
    margin: 0 auto;
    h2 {
      font-family: $Noto;
      font-size: 22px;
      font-weight: 700;
      line-height: 31.86px;
      text-align: left;
      color: $white;
    }
  }
  .slider-2-time {
    margin: 0 auto;
    max-width: 1225px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-family: $Noto;
      font-size: 45px;
      font-weight: 500;
      line-height: 65.16px;
      letter-spacing: -0.04em;
      text-align: left;
      color: $white;
    }
    h4 {
      font-family: $Noto;
      font-size: 16px;
      font-weight: 400;
      line-height: 23.17px;
      text-align: left;
      color: $white;
    }
  }

  .slider-2-heading-bottom {
    h3 {
      font-family: $Noto;
      font-size: 16px;
      font-weight: 400;
      line-height: 23.17px;
      text-align: left;
      color: $white;
    }
    h4 {
      font-family: $Noto;
      font-size: 14px;
      font-weight: 400;
      line-height: 20.27px;
      text-align: left;
      color: $white;
    }
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    z-index: 1000;
    transition: 0.3s ease;
  }

  .slick-prev {
    left: -50px !important;
    background-image: url("../assets/images/Right.svg");
    &::before {
      font-family: Arial, Helvetica, sans-serif !important;
      content: " " !important;
    }
    &:hover {
      background: url("../assets/images/Right.svg");
      background-repeat: no-repeat;
    }
  }

  // Styling for Next Arrow
  .slick-next {
    right: -50px !important;
    background-image: url("../assets/images/Left.svg");
    &::before {
      content: " " !important;
      font-family: Arial, Helvetica, sans-serif !important;
    }
    &:hover {
      background: url("../assets/images/Left.svg") !important;
      background-repeat: no-repeat !important;
    }
  }
}

// footer
footer {
  background-color: $footerBg;
  padding: 20px;
  .footer-container {
    width: 100%;
    max-width: 1118px;
    margin: 0 auto;
    .footer-logo {
      padding-top: 80px;
      h1 {
        font-family: $Noto;
        font-size: 26px;
        font-weight: 400;
        line-height: 37.65px;
        text-align: left;
        color: $white;
      }
    }
    .footer-sec {
      margin-left: 8px;
      h3 {
        margin-left: -60px;
        font-family: $Noto;
        font-size: 16px;
        font-weight: 400;
        line-height: 23.17px;
        text-align: left;
        color: $white;
        white-space: nowrap;

        &:before {
          content: "";
          position: absolute;
          top: 0px;
          left: 0;
          width: 20px;
          height: 25p;
          background-color: red;
        }
      }
    }
    .footer-para-2 {
      p {
        margin-top: -30px;
        font-family: $Noto;
        font-size: 14px;
        font-weight: 400;
        line-height: 20.27px;
        text-align: left;
        color: $white;
        white-space: nowrap;
      }
    }
    .third {
      white-space: nowrap;
      margin-left: -180px;
      margin-top: 20px;
    }
  }
  .copyright {
    p {
      margin-top: -20px;
      font-family: $Noto;
      font-size: 14px;
      font-weight: 400;
      line-height: 20.27px;
      text-align: center;
      margin-left: -365px;
      color: $white;
    }
  }
}

// Login Form

.login-form {
  padding: 160px 90px 900px 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .login-log {
    margin: 0 auto;
    h3 {
      font-family: $Noto;
      font-size: 16px;
      font-weight: 700;
      line-height: 23.17px;
      text-align: left;
    }
  }
  .form-outline {
    margin-top: 70px !important;

    padding: 0px 0px 20px 0px;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    width: 369px;
    height: 164px;
    margin: 0 auto;
    .review {
      width: 185px;
      height: 43px;
      border-radius: 0 20px 0 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.94px;
      text-align: left;
    }
    .Merchant {
      width: 185px;
      height: 43px;
      border-radius: 0 20px 0 0px;
      background-color: #d9d9d9;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000000;
      h2 {
        font-family: $Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        text-align: left;
        color: #9e9e9e;
      }
    }
    form {
      padding-top: 15px;
      margin: 0 auto;

      .form-group {
        display: flex;
        justify-content: center;

        & > input {
          width: 349px;
          height: 45px;
          border: 1px solid #d9d9d9;
          opacity: 1;
          font-family: $Inter;
          font-size: 14px;
          font-weight: 400;
          line-height: 16.94px;
          text-align: left;
          color: #9e9e9e;
          padding-left: 10px;
          & > ::placeholder {
            font-family: $Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.94px;
            text-align: left;
          }
          &:focus {
            outline: none !important;
          }
        }
      }
      .login-btn {
        margin-top: 20px;
        width: 369px;
        height: 45px;
        background-color: $green;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        font-family: $Inter;
        font-size: 14px;
        font-weight: 900;
        line-height: 16.94px;
        text-align: left;
        color: $white;
      }
    }
    .login-with {
      margin-top: 15px;
      width: 369px;
      height: 45px;
      border: 1px solid #d9d9d9;
      border-radius: 20px;
      p {
        font-family: $Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        text-align: left;
        margin-left: 83px;
        color: #9e9e9e;
      }
      .fb {
        margin-left: 145px;
        font-family: $Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        text-align: left;
        color: #9e9e9e;
      }
    }
    .review-bottom {
      padding-top: 20px;
      .review-section-one {
        width: 177px;
        height: 77px;
        border: 1px solid #d9d9d9;
        border-radius: 20px;
        p {
          font-family: $Inter;
          font-size: 14px;
          font-weight: 400;
          line-height: 16.94px;
          text-align: left;
          color: #9e9e9e;
        }
      }
    }
  }
  .how-to-use {
    margin-top: 80px;
    // background-color: red;
    height: 80px;
    border-top: 1px solid #9E9E9E;
    width: 1220px !important;
    margin: 150px auto 80px -450px;
    ul {
      li {
        font-family: $Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        text-align: left;
        color: #9e9e9e;
        // border-left: 1px solid #ccc;
        // margin-left: 10px;
      }
    }
  }
}


// Campian Section

.capian-secation{
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0px 400px 0px;

  .capion-heading{
    padding-top: 20px;
    margin-bottom: 35px;
    h1{
      font-family: $Inter;
      font-size: 28px;
      font-weight: 600;
      line-height: 33.89px;
      text-align: left;
      color: #000000;
    }
  }
}



@media (max-width: 1920px) {
  .slick-prev {
    left: 80%;
  }
}

@media (max-width: 510px) {
  .slider-2-time {
    flex-direction: column;
  }
}

@media (max-width: 1920px) {
  .xl-card {
    max-width: 1280px !important;
  }
  .slider {
    .slick-next {
      right: 150px !important;
      z-index: 9999;

      &:before {
        font-size: 35px !important;
        background-color: transparent !important;
        color: $white !important;
        background-color: black;
      }
    }

    .slick-prev {
      left: 150px !important;
      z-index: 9999;

      &:before {
        font-size: 35px !important;
        background-color: transparent !important;
        color: $white !important;
        background-color: black;
      }
    }
    .slick-dots {
      bottom: 16px !important;
      // color: red  !important;

      button {
        &:before {
          content: "";
          height: 8px !important;
          width: 8px !important;
          background-color: $sliderClor !important;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: background-color 0.3s ease, width 0.3s ease,
            height 0.3s ease;
        }
      }

      & > .slick-active {
        button:before {
          background-color: $green !important;
          width: 24px !important;
          height: 8px !important;
          position: absolute;
          color: transparent !important;
          border-radius: 12px;
          transition: background-color 0.3s ease, width 0.3s ease,
            height 0.3s ease;
        }
      }

      button {
        &:not(.slick-active):before {
          transition: background-color 0.3s ease;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .copyright {
    p {
      margin-left: 0 !important;
    }
  }
  .footer-logo {
    padding-top: 40px !important;
  }
  .footer-para-2 {
    p {
      margin-left: 0 !important;
    }
  }
}
