@import "./Variable.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  max-width: 1225px;
  padding: 0 85px;
  background-color: 2px solid $lighWhite;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .logo {
    span {
      font-family: $Noto;
      font-size: 16px;
      font-weight: 700;
      line-height: 23.17px;
      text-align: left;
      color: #363940;
    }
  }
  .search {
    & > input {
      width: 330px;
      padding: 3px 20px;
      border: 1px solid $lightGray;
      border-radius: 5px;
      min-height: 30px;
      &:focus {
        border-color: transparent;
      }
    }
  }
  .nav-links {
    a {
      font-family: $Noto;
      font-size: 16px;
      font-weight: 700;
      line-height: 23.17px;
      text-align: left;
      color: $lightGray;
    }
  }
  .Login {
    margin-top: 5px;
    padding: 8px;
    background-color: $green; 
    font-family: $Noto; 
    font-size: 16px; 
    font-weight: 700; 
    line-height: 23.17px; 
    text-align: left;
    border-radius: 5px; 
    color: $white !important; 
    height: 30px;
    max-width: 70px; 
    border: none; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    

  }
  
}

// slider
.slider{
max-width: 1225px;
width: 100%;
padding: 0 100px !important;
.slick-next {
  right: 80px !important;
  z-index: 9999;

  &:before {
    font-size: 35px !important;
    background-color: transparent !important;
    color: $white !important;
    background-color: black;
  }
}
.slick-prev {
  left: 80px !important;
  z-index: 9999;

  &:before {
    font-size: 35px !important;
    background-color: transparent !important;
    color: $white !important;
    background-color: black;
  }
}
.slick-dots {
  bottom: 16px !important;
  // color: red  !important;
  
  button {
    &:before {
      content: ''; 
      height: 8px !important;
      width: 8px !important;
      background-color: $sliderClor !important; 
      border-radius: 50%;
      position: absolute;
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      transition: background-color 0.3s ease, width 0.3s ease, height 0.3s ease; 
    }
  }

  & > .slick-active {
    button:before {
      background-color: $green !important; 
      width: 24px !important;
      height: 8px !important;
      position: absolute;
      color: transparent !important;
      border-radius: 12px; 
      transition: background-color 0.3s ease, width 0.3s ease, height 0.3s ease;
    }
  }

  button {
 
    &:not(.slick-active):before {
      transition: background-color 0.3s ease; 
    }
  }
}
}


.card-container {
  text-align: center; 
  margin-bottom: 20px;
  padding-top: 20px;
  max-width: 1225px;
  width: 100%;

.small-card {
  margin: 0 auto; 
  border: 2px solid $smallcard; 
  border-radius: 20px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  max-width: 84px; 
  min-height: 84px; 
  
  & > img {
    width: 84px; 
  }
}

h3 {
  padding-top: 10px;
  font-family: $Noto; 
  font-size: 12px; 
  font-weight: 400;
  line-height: 17.38px; 
  text-align: center; 
  color: #000000; 
}

}

// cateory

.category-section {
  .category-heading {
    h3 {
      font-family: $Noto;
      font-size: 22px;
      font-weight: 700;
      line-height: 31.86px;
      text-align: left;
      color: $green;
    }
  }
  .category-btn {
    a {
      width: 39px;
      height: 20px;
      box-shadow: 0 1px 4px 0 #00000033;
      width: 75px;
      height: 30px;
      padding: 0px 8px;
      font-family: $Noto;
      font-size: 14px;
      font-weight: 400;
      line-height: 20.28px;
      text-align: center;
      color: #000000;
    }
  }
}
.category-card-section {
  & > img {
    // max-width: 291px;
    width: 291px;

    height: 163px;
    border-radius: 10px;
    margin: 0 auto;
  }
  h3 {
    font-family: $Noto;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.27px;
    text-align: left;
  }
  h4 {
    font-family: $Noto;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.27px;
    text-align: left;
    color: #000000;
  }
  h5 {
    font-family: $Noto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.27px;
    text-align: left;
    color: $lightGray;
  }
}

// slider
.slider {
  max-width: 1225px;
  height: 423px;
  .slick-prev, .slick-next {
    position: absolute;
    top: 50%; 
    transform: translateY(-0%); 
    width: 40px;
    height: 40px; 
    background-size: 20px 20px; 
    background-repeat: no-repeat;
    background-position: center; 
    border: none; 
    cursor: pointer; 
    z-index: 1000; 
    transition:0.3s ease;
   
  }
  .slick-prev {
    left: 25px !important; 
    background-image: url('../assets/images/Right.svg'); 
    &::before{
      font-family: Arial, Helvetica, sans-serif !important;
      content: " " !important;
    }
    
    
  }
  
  // Styling for Next Arrow
  .slick-next {
    right: 30px !important; 
    background-image: url('../assets/images/Left.svg'); 
    &::before{
      content: " " !important;
      font-family: Arial, Helvetica, sans-serif !important;
    }
    
  }
}

// event banner

.event-banner {
  background-color: $smallcard;
  height: 168px;
  max-width: 1224px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  h3 {
    font-family: $Noto;
    font-size: 29px;
    font-weight: 700;
    line-height: 41.99px;
    text-align: left;
    white-space: nowrap;
    color: #000000;
  }
}

.slider-2 {
  padding: 20px 130px !important;

  min-height: 420px;
  background-color: #343434;
  .slider-2-heading {
    padding-top: 32px;
    h2 {
      font-family: $Noto;
      font-size: 22px;
      font-weight: 700;
      line-height: 31.86px;
      text-align: left;
      color: $white;
    }
  }
  .slider-2-time {
    padding-top: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-family: $Noto;
      font-size: 45px;
      font-weight: 500;
      line-height: 65.16px;
      letter-spacing: -0.04em;
      text-align: left;
      color: $white;
    }
    h4 {
      font-family: $Noto;
      font-size: 16px;
      font-weight: 400;
      line-height: 23.17px;
      text-align: left;
      color: $white;
    }
  }


.slick-prev, .slick-next {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  width: 40px;
  height: 40px; 
  background-size: 20px 20px; 
  background-repeat: no-repeat;
  background-position: center; 
  border: none; 
  cursor: pointer; 
  z-index: 1000; 
  transition:0.3s ease;
 
}

.slick-prev {
  left: -50px !important; 
  background-image: url('../assets/images/Right.svg'); 
  &::before{
    font-family: Arial, Helvetica, sans-serif !important;
    content: " " !important;
  }
  
  
}

// Styling for Next Arrow
.slick-next {
  right: -50px !important; 
  background-image: url('../assets/images/Left.svg'); 
  &::before{
    content: " " !important;
    font-family: Arial, Helvetica, sans-serif !important;
  }
  
}

}

// footer
footer {
  background-color: $footerBg;
  padding: 20px;
  .footer-container {
    width: 100%;
    max-width: 1118px;

    .footer-logo {

      padding-top: 80px;
      h1 {
        font-family: $Noto;
        font-size: 26px;
        font-weight: 400;
        line-height: 37.65px;
        text-align: left;
        color: $white;
      }
    }
    .footer-sec {
      margin-left: 8px;
      h3 {
        margin-left: -60px;
        font-family: $Noto;
        font-size: 16px;
        font-weight: 400;
        line-height: 23.17px;
        text-align: left;
        color: $white;


        &:before {
          content: "";
          position: absolute;
          top: 0px;
          left: 0;
          width: 20px;
          height: 25p;
          background-color: red;
        }
      }
    }
    .footer-para-2 {
     
      p {
        margin-top:-30px;
        font-family: $Noto;
        font-size: 14px;
        font-weight: 400;
        line-height: 20.27px;
        text-align: left;
        color: $white;
      }
    }
    .third{
      white-space: nowrap;
      margin-left: -160px;
      margin-top: 20px;
    }

  }
  .copyright{
    p{
      font-family: $Noto;
font-size: 14px;
font-weight: 400;
line-height: 20.27px;
text-align: center;
margin-left: -280px;
color: $white;

    }
  }
}

@media (max-width: 510px) {
  .slider-2-time {
    flex-direction: column;
  }
}



@media (max-width:1023px){
  .copyright{
    p{
      margin-left: 0 !important;
    }
  }
  .footer-logo{
    padding-top: 40px !important;
  }
  .footer-para-2{
    p{
      margin-left: 0 !important;
    }
  }
}